.banner-container img{
    display: block;
    width: 100%;
    position: center ;
   
   
}
.banner-container, .conditional-container, .footer-area{
    width: 100%;
    height: auto;
    background: #2b5876; 
background: -webkit-linear-gradient(to right, #4e4376, #2b5876); 
background: linear-gradient(to right, #4e4376, #2b5876);    
   
}
.conditional-container img{
        width:27rem;
        display: block;
        margin:auto
}
.hero-area{
    background-color: #645d80;
}
.icon-container{
    font-size: 2.5rem;


}
.icon-container a{
    color: rgb(129, 188, 228);
}
.social-icon{
    background-color: rgb(49, 49, 48);
}
